<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  <div style="display: none;">
   <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1279401198&web_id=1279401198"></script>
  </div>
  <script type="text/javascript" src="/static/js/lightbox.js"></script>
  <link rel="stylesheet" href="/static/css/lightbox.css">
  </body>

</html>